
@font-face {
    font-family: punk;
    src: url(punk-kid/punk-kid/punkkid.ttf);
  }

.valname{
    border-width: 0px;
    font-size: 18px;
}

.depthsearch{
    border-width: 0px;
    font-size: 18px;
    width: 20px;
}

button{
    height:100%;
}

svg {
    border: 1px solid #ccc;
    border-width: 0px;
    width:100%;
    height:100%;
}

body{
    background: black; 
    margin:0px;
    padding: 0px;
    overflow: hidden;
}

.container{
    width: 70%;
    height: 100%;
    float:left;
}

.infoholder{
    width: 25%;
    height:100%;
    float:left;
    background: black;
}

.infolabel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width:100%;
    color:goldenrod;
}

.itemlist {
    width: 100%;
    max-height: 38%;
    min-height: 18%;
    overflow: auto;
    float: left;
    border-radius: 4%;
    border-width: 0px;
    border-style: solid;
    margin: 5px;
    color: whitesmoke;   
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.itemlist::-webkit-scrollbar {
    display: none;
  }
  
.header{
    visibility: hidden;
    color:whitesmoke;
    background: #333399;
    font-family: punk;
    font-size: 30px;
    width:100%;
    padding: 5px;
}
.searcharea{
    visibility: hidden; ;
    width:20%;
    float:left;
}

.searchbar{
    visibility: hidden;
    width:100%;
    height:3%;
    background: white;
}
.searchbuttonarea{
    padding-left: 5px;
    float: left;
}

.panelButton{
    height:5%;
    width: 100%;
    float: left;
    border: none;
    background: transparent;
    color:white;
}

.legend{
    position:absolute;
    left:50px;
    top:200px;
    width:130px;
    height:100px;
    background-color: black;
    border-color: white;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 2%;
    padding: 2px;

}

.dot-table{
    height: 15px;
    width: 15px;
    background-color: rgb(78, 121, 167);
    border-radius: 50%;
    display: inline-block;
}

.dot-svc{
    height: 15px;
    width: 15px;
    background-color: rgb(242, 142, 44);;
    border-radius: 50%;
    display: inline-block;
}

dialog {
  margin: 10% auto;
  width: 80%;
  max-width: 350px;
  background-color: #fff;
  padding: 34px;
  border: 0;
  border-radius: 5px;
}

.modal {
background: slategrey
}

#close-button{
    color: black;
    border: 1px solid black;
    padding: 10px;
    width: 98%;
    border-radius: 5px;
    margin-left: 15px;
    background-color: slategrey;
}

#faModalName{
    font-weight: bold;
}

.spanningFaDisplay{
    width: 100%;
    background-image: url("../chyron.png");
    top: 720px;
    position: absolute;
    min-height: 200px;
}

.spanPage{
    width:100%;
}

.faNameHolder{
    width: 100%;
    color: goldenrod;
}