
body {
    background-color: black; /* Dark background color */
    color: goldenrod; /* Green text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

  }



  .answer{
    color:white;
    width:80%;
  }

  .interaction{
    color: #4e79a7;
    width:80%;

    animation: fadeInAnimation1 ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    padding-top:10px;
    padding-bottom:10px;
  }

  .question{
    color: #e15759;
    width:80%;

    animation: fadeInAnimation1 ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  
  .question2{
    color: darkslategray;
    width:80%;

    animation: fadeInAnimation1 ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  
  .question3{
    color: #e15759;
    width:80%;

    animation: fadeInAnimation1 ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .question4{
    color: goldenrod;
    width:80%;

    animation: fadeInAnimation1 ease 20s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 20px;
  }


  @keyframes fadeInAnimation1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }


