@font-face {
  font-family: tmnt;
  src: url(../font/Turtles.otf);
}

.header{
  float: left;
  width: 100%;
  background-color: #222;
  margin: 0px;
  padding: 0px;
}

.main{
  width: 100%;
  /* Dark background color */ 
  color: #00FF00;
  /* Green text color */
  font-family: Arial, Helvetica, sans-serif;
 
}
.main input{
  background-color: #333;
  /* Dark background color */
  color: #00FF00;

}
.main h1 {
  width: 100%;
  background-color: #222; /* Dark header background color */
  text-align: left;
  /* Dark background color */
  color: #00FF00;
  /* Green text color */
  font-family: tmnt;
  font-size: 40px;
  margin:0px;
  padding: 0px;
}

.krangCage{
  width: 100%;
  overflow: auto;
}
